@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;1,200&display=swap');

:root{
  --branco: white;
  --preto: rgb(26, 26, 26);
  --roxo-escuro-opaco: rgba(27, 24, 52, 0.8);
  --roxo-escuro-brilhante: rgba(51, 51, 153, 0.8);
  --roxo-claro-brilhante: rgba(102, 102, 204, 0.7);
  --verde: rgb(0, 179, 89);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background: linear-gradient(to bottom, var(--roxo-escuro-brilhante), var(--roxo-claro-brilhante)), url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg) no-repeat center;
  background-size: cover;  
  background-attachment: fixed;
  color: var(--branco);

  font-family: 'Poppins', sans-serif;
  font-size: 16px;

  width: 100vw;
  height: 100vh;
  padding: 30px;
}

header{
  text-align: center;
}

header h1{
  margin: 5px;
  font-size: 2rem;
}

header p{
  font-weight: 200;
  font-style: italic;
}